<div class="inner-page grid contact-us">
  <div class="medium-up--one-twelfth grid__item" style="height:1px;"></div>
  <div class="medium-up--seven-twelfths one-whole grid__item">
    <div class="inner-page-content">
      <h2 class="page-title">{{ page.title }}</h2>
      <div class="rte ">
      <p>{{ page.content }}</p>
        {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}
          <div class="form-field">
            <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
            <input type="text"
              name="contact[name]"
              id="ContactFormName"
              placeholder="{{ 'contact.form.name' | t }}"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>

          <div class="form-field">
            <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
            <input type="email"
              name="contact[email]"
              id="ContactFormEmail"
              placeholder="{{ 'contact.form.email' | t }}"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
          </div>

          {% comment %}
          <div class="form-field">
          <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
          <input type="tel"
            name="contact[phone]"
            id="ContactFormPhone"
            placeholder="{{ 'contact.form.phone' | t }}"
            value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*">
          </div>
          {% endcomment %}

          <div class="form-field">
            <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10"
              name="contact[body]"
              id="ContactFormMessage"
              placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>

          <p>
            <button type="submit" class="btn btn-huge btn-submit" value="{{ 'contact.form.send' | t }}">
              Send
            </button>
          </p>

        {% endform %}
      </div>
    </div>
  </div>
  <div class="medium-up--three-twelfths one-whole grid__item">
    <div class="inner-page-content">
      <h2 class="page-title">Other contacts</h2>
      <div class="rte sidebar-links">
        <a href="mailto:media@weglimpse.co">Media enquiries</a>
        <small>media@weglimpse.co</small>
      </div>
    </div>
  </div>
</div>

