<footer class="grid light-links" style="background-image: url({{ 'footer.jpg' | asset_url }});">
  <div class="footer-container">

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li>
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          {% if payment_icons_available contains type %}
            <li>
              {%- assign icon_name = type | prepend: 'icon-' -%}
              {% include icon_name %}
              <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {%- assign footer_linklist2 = section.settings.footer_linklist2 -%}

  <div class="footer-menu-container grid__item large-up--one-twelfth"  style="height:1px;"></div>
  <div class="footer-menu-container grid__item large-up--two-twelfths one-half">
    {% if linklists[footer_linklist].links.size > 0 %}
      <ul class="footer-nav">
        {% for link in linklists[footer_linklist].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="footer-menu-container grid__item large-up--two-twelfths one-half">
    {% if linklists[footer_linklist2].links.size > 0 %}
      <ul class="footer-nav">
        {% for link in linklists[footer_linklist2].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="footer-menu-container grid__item large-up--two-twelfths">
    <small>&copy; {{ 'layout.footer.copyright' | t }} {{ 'now' | date: "%Y" }}</small>
    <br/>
    <small>All rights reserved.</small>
  </div>

  <div class="grid__item large-up--four-twelfths text-right footer-logos">
    <a href="https://helprefugees.org" target="_blank"><img src="{{ "hr.png" | asset_url }}" class="hr-logo" /></a>
    <img src="{{ "chooselove-white.png" | asset_url }}" class="hr-logo" />
    <a href="//www.facebook.com/sharer.php?u=https://choose.love" target="_blank"><svg style="width:50px;height:45px" viewBox="0 0 24 24">
    <path fill="#ffffff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z" />
</svg></a>
<a href="//twitter.com/share?text={{ 'Choose Love - the world’s first store that sells real products for refugees #ChooseLove @HelpRefugees' | escape_html }}&url=https://choose.love" target="_blank"><svg style="width:50px;height:45px" viewBox="0 0 24 24">
    <path fill="#ffffff" d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
</svg></a>
  </div>

  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "footer_linklist2",
        "label": "Second menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
