<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product" class="product-individual-page grid inner-page" id="product--{{ product.handle }}">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="medium-up--one-twelfth grid__item" style="height:1px;"></div>
  <div class="medium-up--ten-twelfths one-whole grid__item inner-page-content">

    <div class="one-whole medium-up--one-half grid__item inner-page-section">
      <div class="product-image-container inner-page-section-content grey-bg">
        <a href="javascript:history.go(-1)" class="product-back-link" title="Back"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
    <path fill="#aaa" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg><span>back</span></a>
        {% if featured_image != blank %}
          <div class="img-flex-container">
            <div class="img-container">
              <img src="{{ featured_image | img_url: '800x800' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
            </div>
        {% if product.images.size > 1 %}
            <div class="alternative-image">
              <img src="{{ product.images[1].src | img_url: '800x800' }}" alt="{{ product.images[1].alt | escape }}">
            </div>
        {% endif %}
          </div>
        {% endif %}


        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: 'Choose Love - the world’s first store that sells real products for refugees #ChooseLove @HelpRefugees', share_permalink: product.url, share_image: product %}
        {% endif %}

      </div>
    </div>
    <div class="one-whole medium-up--one-half grid__item inner-page-section">
      <div class="inner-page-section-content inner-page-section-right">
      <div class="product-header">
        <h1 class="product-title">{{ product.title }}</h1>

        <div data-price-wrapper>
          <span data-product-price class="product-price">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </div>
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <label>Information:</label>
        <div class="rte product-description">
          {{ product.description }}
        </div>

        <form action="/cart/add" method="post" enctype="multipart/form-data">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <select
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          <label>Quantity:</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-quantity-input">

          <button
            type="submit"
            name="add"
            class="btn add-to-cart-btn btn-huge btn-submit"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        </form>

        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        {% endunless %}
      </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
