<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Karla:400,700" rel="stylesheet">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password" style="background-image: url('{{ "pattern-small.jpg" | asset_url}}')">
  <div class="template-password-container">
    <header role="banner">
      <h1 itemscope itemtype="http://schema.org/Organization">
        <div class="site-logo-password" style="width: 22.5%; min-width: 225px; margin:40px auto 20px;">
          <img src="{{ "chooselove.png" |  asset_url }}" />
        </div>
      </h1>
    </header>

    <main role="main" id="MainContent" class="password-content">
      {{ content_for_layout }}
      <div id="Login" style="text-align: center; display:none">
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <input type="password"
            name="password"
            id="Password"
            placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            style="padding: 4px 10px; font-size:0.8em" >
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        {% endform %}
        <p style="font-size:0.85em">{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
      <script>
        let login = document.querySelector('#Login');
        if(window.location.hash === '#login'){
          login.style.display = 'block';
        }
      </script>
    </main>

    <a href="https://www.helprefugees.org" target="_blank">
      <img class="hr-logo" src="{{ "hr-color.png" | asset_url }}" />
    </a>

    <div class="media-enquires-link" style="">
      <a href="mailto:media@weglimpse.co" style="display: block; text-align: center;">Media enquires</a>
    </div>
  </div>
</body>
</html>
